<div style="height: 1050px">
    <div class="wrap-col" style="width: 100%;height: 100%;">
        <div style="float: left;width: 46%;height: 100%">
            <!--<div style="width: 100%;height: 13%">
                <div style="float: left;width:30%;height: 100% "><img src="images/艳客劫.jpg" style="height: 100%">
                </div>
                <div style="float:left;width: 70%">
                    <p><h4 style="margin-top: -5px;float: left"><a>艳客劫</a></h4>
                    作者：<a>小鱼大心</a><br/>
                    类型：<a>言情</a><br/>
                    摘要：有一种女子，她叫胡颜，她是女祭司，无论她一举一动一嗤一笑，都格外招人恨...
                    </p>
                </div>
            </div>-->

            <table class="table" style="width: 500px">
                <caption><h3>排行榜单</h3></caption>
                <thead>
                <tr>
                    <th colspan="2"><h3>热销榜</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="novel in obj1">
                    <td>
                        <a target="_blank" href="#" data-ack="196_1|196">{{novel.novelName}}</a>
                        <span class="ffs" class="family">
                                    <a target="_blank" href="#" data-ack="196_0|196" class="kong">{{novel.novelType}}</a></span>
                        <em class="Bianse">{{$index+1}}</em>
                    </td>
                    <td>月销量：{{novel.novelBuyCount}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table"style="width: 500px">

                <thead>
                <tr>
                    <th colspan="2"><h3>点击榜</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="novel in obj2">
                    <td>
                        <a target="_blank" href="#" data-ack="196_1|196">{{novel.novelName}}</a>
                        <span class="ffs" class="family">
                                    <a target="_blank" href="#"  data-ack="196_0|196" class="kong">{{novel.novelType}}</a></span>
                        <em class="Bianse">{{$index+1}}</em>
                    </td>
                    <td>点击量：{{novel.novelClickRate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
