<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--1、创建model层的对象,这个监听器是给model层的，名字必须是contextConfigLocation-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <!-- 给model层相应的xml文件 -->
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:spring.xml</param-value>
    </context-param>

    <!--2、创建controller层对象,将网站与mvc.xml联系在一起就是通过servlet标签-->
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <!--和指定创建对象的路径，这个对象由spring的web创建，所以都是web下的路径-->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <!--通过下面的名字，将value传给上面的对象，作为参数去读取mvc的配置文件-->
            <param-name>contextConfigLocation</param-name>
            <!-- 自定义配置文件地，名字和地址都要给，就是我们配置的springMVCc.xml文件的地址 -->
            <param-value>classpath*:spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--解决中文乱码问题，过滤Request的值
    在filter.CharacterEncodingFilter里面创建对象-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <!--filter创建对象后，需要初始化，名字(键)就是encoding-->
            <param-name>encoding</param-name>
            <!-- 值就是编码字符集 -->
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <!-- 设置过滤器负责过滤的文件 -->
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>